.main_box {
  /* height: 450px; */
  width: 300px;
  /* border: 2px solid black; */
  display: flex;
  flex-direction: column;
  align-items: center;
  display: fit-content;
  padding: 20px;
  border-radius: 8px;
  background-color: var(--primary);
  color: var(--light);
  box-shadow: 0px 2px 20px 0px #433d8b91;
}

.input_values {
  /* border: 2px solid black; */
  width: 90%;
  height: 80%;
  display: flex;
  flex-direction: column;
}

.main_box h1 {
  font-family: 'Courier New', Courier, monospace;
  font-size: 30px;
}

.input_values input {
  height: 30px;
  border-radius: 8px;
  margin-top: 5px;
  background: var(--secondry);
  padding: 8px;
  color: white;
  outline: none;
  border: none;
}
::placeholder {
  color: var(--light);
  opacity: 1; /* Firefox */
}

.submit {
  background-color: initial;
  background-image: linear-gradient(-180deg, #00d775, #00bd68);
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.1) 0 2px 4px;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-family: Inter, -apple-system, system-ui, Roboto, 'Helvetica Neue', Arial,
    sans-serif;
  height: 44px;
  line-height: 44px;
  outline: 0;
  overflow: hidden;
  padding: 0 20px;
  pointer-events: auto;
  position: relative;
  text-align: center;
  touch-action: manipulation;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: top;
  white-space: nowrap;
  width: 100%;
  z-index: 9;
  border: 0;
}

.submit:hover {
  background: #00bd68;
}

.refresh {
  align-items: center;
  background: lightgray;
  border: 0 solid gray;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  box-sizing: border-box;
  color: #1a202c;
  display: inline-flex;
  font-family: Inter, sans-serif;
  font-size: 1rem;
  font-weight: 700;
  height: 56px;
  justify-content: center;
  line-height: 24px;
  overflow-wrap: break-word;
  padding: 24px;
  text-decoration: none;
  width: auto;
  border-radius: 8px;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}
